.home {
  height: 100vh;
  width: 100vw;
  grid-template-columns: 4.32fr 7.68fr;
  align-items: center;
  padding: 40px;
}

.home__img {
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
  z-index: 1;
}

.home__data {
  max-width: 600px;
  margin-inline: auto;
  padding-top: 20px;
}

.home__title {
  position: relative;
  font-size: var(--h1-font-size);
  line-height: 1.24;
  padding-left: 70px;
}

.home__title span {
  color: var(--first-color);
}

.home__title2 {
  color: var(--first-color);
}

.home__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 22%;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--first-color);
}

.home__description {
  line-height: 2.125;
  margin-block: 16px 32px;
}

.color__block {
  position: fixed;
  height: 200%;
  width: 100%;
  background-color: var(--first-color);
  top: -50%;
  left: -83%;
  transform: rotate(-15deg);
}

/* Tablet view */
@media screen and (max-width: 834px) {
  .home {
    height: max-content;
    padding: 0px !important;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
  }

  .home__img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

  .home__content {
    width: 90%;
    display: flex;
    justify-content: center;
    z-index: 9;
  }

  .home__data {
    width: 600px;
    margin-inline: 0px;
    padding-top: 0px;
  }
}

/* mobile view */
@media screen and (max-width: 700px) {
  .home__data {
    max-width: 600px !important ;
  }

  .home__title {
    width: 100%;
    font-size: var(--h3-font-size);
  }

  .home__description {
    width: 100%;
  }

  .color__block {
    display: none;
  }
}
